os:
  - linux
language: node_js
node_js:
  - 4
  - 6
cache:
  directories:
    - bower_components
    - node_modules
script:
  - "npm run test"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
